body{
    display: grid;
    background-color: #b1d0d8;
}
#play-button{
    border-left: 100px solid #fff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid
        transparent;
}

#play-toggle{
    height: 100px;
    width: 100px;
    
}
#volca-bass-container{
    text-align: center;
}

h1,h2 {
    margin-left:auto;
    margin-right: auto;
}